<%= render "shared/header" %>
<%# 画面上部についての %>
<div class='title-contents'>
 <h1 class='service-title'>
 Mapjob
 </h1>
 <P class='service-explain'>
 Mapjobは地図から探せる!
 </P>
 <P class='service-explain'>
 求人サイトです
 </P>
